<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="lines.css" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    
    



</head>
<body>
    <section class="strips">
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Lorem">Compute</h1>
                <div class="strip__inner-text">
                    <h2>Amazon EC2</h2>
                    <p>Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable
                        compute capacity in the cloud. It is designed to make web-scale computing easier for developers
                    </p>
                    <h2>Amazon EC2 Auto Scaling</h2>
                    <p>Amazon EC2 Auto Scaling helps you maintain application availability and allows you to
                        automatically add or remove EC2 instances according to conditions you define. You can use the
                        fleet management features of Amazon EC2 Auto Scaling to maintain the health and availability of
                        your fleet.</p>
                    <h2>Amazon Elastic Container Registry</h2>
                    <p>Amazon Elastic Container Registry (ECR) is a fully-managed Docker container registry that makes
                        it easy for developers to store, manage, and deploy Docker container images. Amazon ECR is
                        integrated with Amazon Elastic Container Service (Amazon ECS), simplifying your development to
                        production workﬂow.</p>
                    <h2>AWS Elastic Beanstalk</h2>
                    <p>AWS Elastic Beanstalk is an easy-to-use service for deploying and scaling web applications and
                        services developed with Java, .NET, PHP, Node.js, Python, Ruby, Go, and Docker on familiar
                        servers such as Apache, Nginx, Passenger, and Internet Information Services (IIS)</p>
                    <h2>AWS Lambda</h2>
                    <p>AWS Lambda lets you run code without provisioning or managing servers. You pay only for the
                        compute time you consume—there is no charge when your code is not running. With Lambda, you can
                        run code for virtually any type of application or backend service—all with zero administration.
                    </p>

                </div>

            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Ipsum">Storage</h1>
                <div class="strip__inner-text">
                    <h2>Amazon Elastic Block Store</h2>
                    <p>Amazon Elastic Block Store (Amazon EBS) provides highly available, consistent, low-latency block
                        storage for Amazon EC2. It helps you tune applications with the right storage capacity,
                        performance and cost.
                    </p>
                    <h2>Amazon Elastic File System(EFS)
                    </h2>
                    <p>Amazon Elastic File System (Amazon EFS) provides a simple, scalable, elastic file system for
                        Linux-based workloads for use with AWS Cloud services and on-premises resources. It is built to
                        scale on demand to petabytes without disrupting applications, growing and shrinking
                        automatically as you add and remove files, so your applications have the storage they need –
                        when they need it.
                    </p>
                    <h2>Amazon S3</h2>
                    <p>Amazon Simple Storage Service (Amazon S3) is object storage designed to store and access any type
                        of data over the Internet.
                        It is secure, 99.999999999% durable, and scales past tens of trillions of objects. S3 is used
                        for backup and recovery, tiered archive, user-driven content (like photos, videos, music and
                        files), data lakes for Big Data analytics and data warehouse platforms, or as a foundation for
                        serverless computing design.
                    </p>
                    <h2>Amazon FSx for Windows File Server</h2>
                    <p>Amazon FSx for Windows File Server provides a fully managed native Microsoft Windows file system
                        so you can easily move your Windows-based applications that require file storage to AWS. Built
                        on Windows Server, Amazon FSx provides shared file storage with the compatibility and features
                        that your Windows-based applications rely on, including full support for the SMB protocol and
                        Windows NTFS, Active Directory (AD) integration, and Distributed File System (DFS).
                    </p>
                    <h2>Amazon S3 Glacier & S3 Glacier Deep Archive</h2>
                    <p>Amazon S3 Glacier and S3 Glacier Deep Archive are secure, durable, and extremely low-cost Amazon
                        S3 cloud storage classes for data archiving and long-term backup.
                        S3 Glacier and S3 Deep Archive are solutions for customers who want low-cost storage for
                        infrequently accessed data. It can replace tape for media and entertainment applications, and
                        assist with compliance in highly regulated organizations like healthcare, life science, and
                        financial services.
                    </p>

                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Dolor">Networking</h1>
                <div class="strip__inner-text">
                    <h2>Amazon VPC</h2>
                    <p>Amazon Virtual Private Cloud (Amazon VPC) lets you provision a logically isolated section of the
                        AWS Cloud where you can launch AWS resources in a virtual network that you define. You have
                        complete control over your virtual networking environment, including selection of your own IP
                        address range, creation of subnets, and configuration of route tables and network gateways.</p>
                    <h2>Amazon CloudFront</h2>
                    <p>Amazon CloudFront is a fast content delivery network (CDN) service that securely delivers data,
                        videos, applications, and APIs to customers globally with low latency, high transfer speeds, all
                        within a developer-friendly environment. CloudFront is integrated with AWS – both physical
                        locations that are directly connected to the AWS global infrastructure, as well as other AWS
                        services.</p>
                    <h2>Amazon Route 53</h2>
                    <p>Amazon Route 53 is a highly available and scalable cloud Domain Name System (DNS) web service. It
                        is designed to give developers and businesses an extremely reliable and cost-effective way to
                        route end users to Internet applications by translating human readable names, such as
                        www.example.com, into the numeric IP addresses, such as 192.0.2.1, that computers use to connect
                        to each other. Amazon Route 53 is fully compliant with IPv6 as well.</p>
                    <h2>Amazon API Gateway</h2>
                    <p>Amazon API Gateway is a fully managed service that makes it easy for developers to create,
                        publish, maintain, monitor, and secure APIs at any scale. With a few clicks in the AWS
                        Management Console, you can create an API that acts as a “front door” for applications to access
                        data, business logic, or functionality from your back-end services.</p>
                    <h2>Elastic Load Balancing(ELB)</h2>
                    <p>Elastic Load Balancing (ELB) automatically distributes incoming application traffic across
                        multiple targets, such as Amazon EC2 instances, containers, and IP addresses. It can handle the
                        varying load of your application traffic in a single Availability Zone or across multiple
                        Availability Zones.</p>
                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Sit">Devops</h1>
                <div class="strip__inner-text">
                    <h2> What is Devops?</h2>
                    <p>DevOps promotes communication and collaboration between business, development & operations teams.
                        In a way, we are talking about unification.DevOps is not only about tools but also about
                        involving people and process.DevOps is about automating the development, release and operation
                        processes.
                    </p>
                    <h2>Continuous Integration.</h2>
                    <p>Once the code is committed, then the entire work of developers is well integrated and the build
                        is performed on a regular basis based on every check-in or schedule. Hence, Continuous
                        Integration as a practice forces the developer to integrate their changes with the others so as
                        to get an early feedback.
                    </p>
                    <h2>Continuous Delivery.</h2>
                    <p>Continuous Delivery is an extension of Continuous Integration which primarily helps to get the
                        features which the developers are developing out to the end users as soon as possible. During
                        this process, it goes through various stages of QA, Staging etc., and then for delivery to the
                        PRODUCTION system.
                    </p>
                    <h2>Continuous Testing</h2>
                    <p>From the above goal of Continuous Integration which is to get the application out to end users
                        are primarily enabling continuous delivery. This cannot be completed without a sufficient amount
                        of unit testing and automation testing.
                    </p>
                    <h2>Continuous Monitoring</h2>
                    <p> As the application is developed and deployed, we do need to monitor its performance. Monitoring
                        is also very important as it might help to uncover the defects which might not have been
                        detected earlier.
                    </p>

                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Amet">Prepare for Interview</h1>
                <div class="strip__inner-text">
                    <h2>What is cloud computing?</h2>
                    <p>Cloud computing is an internet based new age computer technology. It is the next stage technology
                        that uses the clouds to provide the services whenever and wherever the user need it.It provides
                        a method to access several servers world wide.</p>
                    <h2>What is on-demand functionality? How is it provided in cloud computing?</h2>
                    <p>Cloud computing provides a on-demand access to the virtualized IT resources. It can be used by
                        the subscriber. It uses shared pool to provide configurable resources. Shared pool contains
                        networks, servers, storage, applications and services.</p>
                    <h2>What is the difference between cloud computing and mobile computing?</h2>
                    <p>Mobile computing and cloud computing are slightly same in concept. Mobile computing uses the
                        concept of cloud computing . Cloud computing provides users the data which they required while
                        in mobile computing, applications run on the remote server and gives user the access for storage
                        and manage.</p>
                    <h2>What is the difference between scalability and elasticity?</h2>
                    <p>Scalability is a characteristic of cloud computing which is used to handle the increasing
                        workload by increasing in proportion amount of resource capacity. By the use of scalability, the
                        architecture provides on demand resources if the requirement is being raised by the traffic.
                        Whereas, Elasticity is a characteristic which provides the concept of commissioning and
                        decommissioning of large amount of resource capacity dynamically. It is measured by the speed by
                        which the resources are coming on demand and the usage of the resources.</p>
                    <h2>What is "EUCALYPTUS" in cloud computing? Why is it used?</h2>
                    <p>It is an acronym stands for Elastic Utility Computing Architecture For Linking Your Program To
                        Useful Systems. It is an open source software infrastructure in cloud computing and used to
                        implement clusters in cloud computing platform. It creates public, private and hybrid cloud. It
                        facilitate a user to create his own data center into a private cloud and use its functionalities
                        to many other organizations.</p>

                </div>
            </div>
        </article>
        <i class="fa fa-close strip__close"></i>
    </section>


    <script src="lines.js"> </script>
</body>

</html>